

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase;
  color: #e10c0c;
}

h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0a8cbb;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #f6e41f;
  align-self: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}

button {
  background: white;
  border: none;
  font-size: 18px;
  color: #0071c2
}

.btn2 {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #f62d1f;
  align-self: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}

